* {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
    -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.header {
  background-color: rgb(36, 58, 94);
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.header > h1 {
  color: white;
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
}
.input-container {
  display: flex;
  padding-left: 20px;
  margin: 40px 0 30px 0px;
  align-items: flex-end;
}
.input-container > span {
  font-size: 14px;
  font-weight: bold;
  margin: 0 10px 7px 0;
}
.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
}
.button-container {
  display: flex;
  margin-left: 20px;
}

a {
  color: rgb(96, 94, 92);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.dropdown {
  width: 300px;
  margin-left: 2%;
}

.icon-label {
  margin-right: 10px;
}

.normal-small {
  font-size: 14px;
  font-weight: normal;
}
.keyword-container > p {
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  color: rgb(50, 49, 48);
}
.textfield {
  width: 300px;
  margin-left: 2%;
}
