@font-face {
  font-family: "FabricMDL2Icons";

  src: url("./utils/fabric-icons-6473f97d.woff") format("woff");
}
.iconStyles-858 {
  color: rgb(122, 127, 234);
  font-size: 16px;
  margin-right: 4px;
  vertical-align: sub;
}
.iconStyles-856 {
  color: rgb(0, 120, 212);
  font-size: 16px;
  margin-right: 4px;
  vertical-align: sub;
}
.css-392 {
  font-style: normal;
  font-weight: normal;
  font-family: "FabricMDL2Icons";
}
.iconStyles-848 {
  color: rgb(0, 156, 164);
  font-size: 16px;
  margin-right: 4px;
  vertical-align: sub;
}
.css-685 {
  font-style: normal;
  font-weight: normal;
  font-family: "FabricMDL2Icons";
}
.iconStyles-856 {
  color: rgb(0, 120, 212);
  font-size: 16px;
  margin-right: 4px;
  vertical-align: sub;
}
.css-685 {
  font-style: normal;
  font-weight: normal;
  font-family: "FabricMDL2Icons";
}
.iconStyles-860 {
  color: rgb(64, 131, 255);
  font-size: 16px;
  margin-right: 4px;
  vertical-align: sub;
}
.css-683 {
  font-style: normal;
  font-weight: normal;
  font-family: "FabricMDL2Icons";
}
.iconStyles-852 {
  font-size: 16px;
  margin-right: 4px;
  vertical-align: sub;
}
.css-681 {
  font-style: normal;
  font-weight: normal;
  font-family: "FabricMDL2Icons";
}
.iconStyles-862 {
  color: rgb(16, 110, 190);
  font-size: 16px;
  margin-right: 4px;
  vertical-align: sub;
}
.css-539 {
  font-style: normal;
  font-weight: normal;
  font-family: "FabricMDL2Icons";
}
.iconStyles-868 {
  color: rgb(0, 102, 255);
  font-size: 16px;
  margin-right: 4px;
  vertical-align: sub;
}
.css-681 {
  font-style: normal;
  font-weight: normal;
  font-family: "FabricMDL2Icons";
}
.iconStyles-856 {
  color: rgb(0, 120, 212);
  font-size: 16px;
  margin-right: 4px;
  vertical-align: sub;
}
.css-678 {
  font-style: normal;
  font-weight: normal;
  font-family: "FabricMDL2Icons";
}
.iconStyles-852 {
  font-size: 16px;
  margin-right: 4px;
  vertical-align: sub;
}
.css-539 {
  font-style: normal;
  font-weight: normal;
  font-family: "FabricMDL2Icons";
}
.iconStyles-853 {
  color: rgb(16, 137, 60);
  font-size: 16px;
  margin-right: 4px;
  vertical-align: sub;
}
.css-683 {
  font-style: normal;
  font-weight: normal;
  font-family: "FabricMDL2Icons";
}
.iconStyles-859 {
  color: rgb(0, 130, 115);
  font-size: 16px;
  margin-right: 4px;
  vertical-align: sub;
}
.css-681 {
  font-style: normal;
  font-weight: normal;
  font-family: "FabricMDL2Icons";
}
.iconStyles-854 {
  color: rgb(247, 137, 74);
  font-size: 16px;
  margin-right: 4px;
  vertical-align: sub;
}
.css-678 {
  font-style: normal;
  font-weight: normal;
  font-family: "FabricMDL2Icons";
}
.iconStyles-869 {
  color: rgb(217, 143, 217);
  font-size: 16px;
  margin-right: 4px;
  vertical-align: sub;
}
.css-843 {
  font-style: normal;
  font-weight: normal;
  font-family: "FabricMDL2Icons";
}
.root-32 {
  display: inline-block;
}
.css-685 {
  font-style: normal;
  font-weight: normal;
  font-family: "FabricMDL2Icons";
}
.iconStyles-854 {
  color: rgb(247, 137, 74);
  font-size: 16px;
  margin-right: 4px;
  vertical-align: sub;
}
.css-678 {
  font-style: normal;
  font-weight: normal;
  font-family: "FabricMDL2Icons";
}
.root-32 {
  display: inline-block;
}
/* * {
  background-color: red;
} */
